<div th:fragment="sidebar" class="bg-dark w-full">
  <div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100">
    <a href="/" class="text-white text-decoration-none">
      <span class="fs-5 d-none d-sm-inline">LOGO</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start mt-4" id="menu">
      <li class="nav-item">
        <a href="/pages/tipo_entidade.html" class="nav-link align-middle px-0 text-white bold">
          <i class="fa-solid fa-building-flag"></i> <span class="ms-1 d-none d-sm-inline">
            Tipos de entidade
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/pages/entidades.html" class="nav-link align-middle px-0 text-white bold">
          <i class="fa-solid fa-building"></i> <span class="ms-1 d-none d-sm-inline">
            Entidades
          </span>
        </a>
      </li>
      <a href="/pages/tipo_artefato.html" class="nav-link align-middle px-0 text-white bold">
        <i class="fa-solid fa-laptop-file"></i> <span class="ms-1 d-none d-sm-inline">
          Tipos de artefato
        </span>
      </a>
      </li>
      <li class="nav-item">
        <a href="/pages/artefatos.html" class="nav-link align-middle px-0 text-white bold">
          <i class="fa-solid fa-laptop"></i> <span class="ms-1 d-none d-sm-inline">
            Artefatos
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>